.*
!.gitattributes
!.gitignore
!.travis.yml
*.log
*.map

/node_modules
/vendor/*/*

!/vendor/sinergi/browser-detector

/vendor/*.php
/vendor/**/.git*
/vendor/**/Tests
/vendor/**/tests
/vendor/**/*.json
/vendor/**/*.yml
/vendor/**/phar-stub.php
/vendor/**/phpunit.*
/vendor/**/Makefile
/vendor/**/CHANGELOG*
/vendor/**/README*
/vendor/**/UPGRADING*
/vendor/composer/installers
/vendor/sinergi/browser-detector/src/AcceptLanguage.php
/vendor/sinergi/browser-detector/src/Device*
/vendor/sinergi/browser-detector/src/Language*
/vendor/sinergi/browser-detector/src/Os*

/roadmap.md
