[id^=geminilabs-site-reviews].widget {
	ul.glsr-reviews {
		list-style: none;
		margin-left: 0;
	}

	.glsr-review-title {
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 1em;
	}
}

.glsr-reviews-wrap {}

.glsr-review {
	margin-bottom: 3em;

	p {
		margin: 0 0 1em;
	}

	&-author {}
	&-date {
		font-style: italic;
	}
	&-excerpt {}
	&-meta {
		> span:not(:last-child) {
			margin-right: 0.5em;
		}
	}
	&-link {
		white-space: nowrap;
	}
	&-rating {}
	&-title {}

	&-avatar {
		float: left;
		margin: -8px 12px 0 0;
		width: 36px;
		height: 36px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}


[class*=glsr-star-] {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 16px;
	vertical-align: sub;
	background-repeat: no-repeat;
	background-size: 20px;
}

@media screen and (min-width: 56.875em) {
	.glsr-widget [class*=glsr-star-] {
		width: 16px;
		height: 16px;
		background-size: 16px;
	}

	.glsr-widget .glsr-review-avatar {
		width: 30px;
		height: 30px;
	}
}

.glsr-star {
	&-empty {
		// PNG fallback
		// background: url(fallback.png);
		// background-image: url(image.svg), none;
		background-image: url(../img/star-empty.svg);
	}
	&-full {
		background-image: url(../img/star-filled.svg);
	}
	&-half {
		background-image: url(../img/star-half.svg);
	}
}

